.nav {
	width: 100%;
	font-variant: small-caps;
}

.navbar-inner {
   -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}

.navbar-fixed-top {
   margin-left: 0px;
   margin-right: 0px;
}

#nav-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-text {
	margin: 0px;
	font-variant: small-caps;
}

.navbar .brand {
	font-size: 40px;
	font-family: "Verdana", "Helvetica", sans-serif;
	font-weight: bold;
	font-variant: small-caps;
}

#nav-container {
	width: 95%;
}

.container {
	width: 90%;
}

body {
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Verdana", "Helvetica", sans-serif;
}

@media (min-width: 979px) {
	body {
		padding-top: 100px;
	}
  
	[class*="icon-"] {
		visibility: hidden;
	}
}

.page-header {
	padding-top:100px; 
	margin-top:-100px
}

[class*="span"] {
	margin-left: 0px;
}

[class*="icon-"] {
	opacity: 0.3;
}