{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}/">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    {{ partial "head_includes.html" . }}
    <link rel="shortcut icon" href="{{ $baseurl }}/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ $baseurl }}/apple-touch-icon.png" />
</head>
