<ul id="mainnav">
    <li>
        <a href="/papers/">
        <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
        <span> papers </span>
    </a>
    </li>
    <li>
    <a href="/projects/">
        <span class="icon"> <i aria-hidden="true" class="icon-code"></i></span>
        <span> projects </span>
    </a>
    </li>
    <li>
    <a href="/fun-stuff/">
        <span class="icon"> <i aria-hidden="true" class="icon-pacman"></i></span>
        <span> fun stuff </span>
    </a>
    </li>
</ul>
