{{ $baseurl := .Site.BaseURL }}

<ul id="mainnav">
    <li>
        <a href="{{ $baseurl }}/papers">
        <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
        <span> papers </span>
    </a>
    </li>
    <li>
    <a href="{{ $baseurl }}/projects">
        <span class="icon"> <i aria-hidden="true" class="icon-code"></i></span>
        <span> projects </span>
    </a>
    </li>
    <li>
    <a href="{{ $baseurl }}/fun-stuff">
        <span class="icon"> <i aria-hidden="true" class="icon-pacman"></i></span>
        <span> fun stuff </span>
    </a>
    </li>
</ul>
