{{ $baseurl := .Site.BaseURL }}
<div class="social">
    <a href="https://www.linkedin.com/in/where-is-paul/" class="linkedin" title="LinkedIn"><span class="icon icon-linkedin"></span></a>
    <a href="https://github.com/where-is-paul/" title="GitHub" class="github"><span class="icon icon-github"></span></a>
    <a href="https://scholar.google.com/citations?user=3ct054AAAAAJ&hl=en" title="Scholar" class="scholar"><span class="icon icon-scholar"></span></a>
    <a href="{{ $baseurl }}/files/webcv.pdf" title="CV" class="cv"><span class="icon icon-resume"></span></a>
</div>