{{ $baseurl := .Site.BaseURL }}
<li>
<details> 
<summary style="outline: none; display: flex; align-items: baseline;">
<div style="flex: 0.75">{{ .Title }}</div>
<div class="meta right" style="flex: 0.25; margin-left: 0.5em; font-weight: 600"> {{.Params.venue}} {{ .Date.Format "2006" }}</div>
</summary>

<div class="medium">
{{ .Params.authors }}
</div>
<hr style="border-top: 0px solid #8c8b8b;"/>

<div class="abstract">
{{ if isset .Params "figure" }}
<figure class="thumbnail left" style="margin: 1em">
    {{ if isset .Params "file" }}
        <a href="{{ $baseurl }}/files/{{ .Params.file }}" style="all: revert">
            <img src="{{ $baseurl }}/img/{{.Params.figure}}">
        </a>
    {{ else }}
        <img src="{{ $baseurl }}/img/{{.Params.figure}}">
    {{ end }}
</figure>
{{ end }}
<p>
{{ (replace (.Params.abstract) "\n" "</p><p>") | safeHTML }}
</p>
</div>

<ul id="tags-special">
  {{ range .Params.tags }}
    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</ul>

<!-- <div style="font-weight: 600"> -->
{{ if isset .Params "file" }}
<a href="{{ $baseurl }}/files/{{ .Params.file }}">[pdf]</a>
{{ end }}
{{ if isset .Params "code" }}
<a href="{{ .Params.code }}" style="color:indigo">[code]</a>
{{ end }}
{{ if isset .Params "data" }}
<a href="{{ .Params.code }}" style="color:brown">[data]</a>
{{ end }}
{{ if isset .Params "poster" }}
<a href="{{ $baseurl }}/files/{{ .Params.poster }}" style="color:violet">[poster]</a>
{{ end }}
{{ if isset .Params "slides" }}
<a href="{{ $baseurl }}/files/{{ .Params.slides }}" style="color:orange">[slides]</a>
{{ end }}
{{ if isset .Params "video" }}
<a href="{{ .Params.video }}" style="color:green" target="_blank">[video]</a>
{{ end }}
<!-- </div> -->
</details>
</li>